.detail {
    position: relative;
    text-align: center;

}

.detail ul {
    position: relative;
    margin-left: 1400px;
    text-align: start;
}

.detail li {
    padding: 5px;
}
.url {
    margin-left: 840px;
}
input{
    text-align: center;
}

nav ul{
	margin: 0px;
	padding-left: 0px;
	overflow: hidden;
	text-align: center;
}
nav li{
	list-style-type: none;
	float: left;
	padding-left: 305px;
	text-align: center;
}
.change{
    text-align: center;
}
