button {
  width: 7em;
  height: 2em;
  font-size: 200%;
  background-color: rgb(54, 147, 240);
  color: white;
  margin-left: 1300px;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10%;
  border-bottom: solid 2px;

}

body {
  text-align: center;
  font-size: large;
}

.detail {
  height: 150px;
}

.text {
  display: flex;
  margin-top: 0;

  justify-content: center;
}