.text {
    text-align: center;
    position: relative;
    line-height: 2;
    margin-right: 9px;
}



.table1 td{
    width:30000px;
   
}
.table1 th{
    width: 300px;
    text-align: center;
}
.table1 td{
    text-align: center;
}

.table1 th, td{
    border: 1px solid;
  }
.reco_button{
    
    margin-left: 1500px;
    margin-top: 20px;
    position: relative;
   
    width: 14em;
    height: 4em;
   font-size: large;
    background-color:rgb(54, 147, 240) ;
    color: white;
   
}
.planbutton{
    width: 5em;
    height: 2em;
    font-size: 150%;
    background-color:rgb(54, 147, 240) ;
    color: white;
    margin-bottom: 20px;
}